@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./button.css");
@import url("./scroll.css");
#login-box {
    background-image: url("/storage/resources/poea_building.jpg");
    background-size: cover;
}

#print-only {
    display: none;
}

@media print {
    #print-only {
        display: flex !important;
    }
}
